@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Заброкированно!</h1>
    <h2 class="text-danger">Данный аккаунт был заблокировани. Попробуйте позже.</h2>
</hgroup>
